
.card {
    background-color: gray;
    border: 3px solid black;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .player-name {
    font-weight: bold;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    color:aqua;
}

.smallButton {
    border: 3px solid black;
    border-radius: 15px;
    padding: 50px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    align-items: center;
}

.smallButton .button-text {
    font-weight: bold;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    color: black;
    align-self: center;
    text-align: center;
}

.add-button {
    background-color: green;
}

.add-button .add-button-text {
    color: white;
}

.name-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.name-list-item {
    
}